<!DOCTYPE html>
<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>

    <div ng-app="myApp" ng-controller="myCtrl">
        <input ng-model="model.firstName" placeholder="first name" />
        <input ng-model="model.lastName" placeholder="last name" />
        <span ng-bind='model.firstName + " " + model.lastName'></span>
        <button ng-click="save()">Save</button>
    </div>

    <script>
        angular.module("myApp", []).controller("myCtrl", function ($scope) {
            angular.extend($scope, {
                model: {
                    firstName: "",
                    lastName: ""
                },
                init: function () {
                    angular.extend($scope.model, JSON.parse(localStorage.getItem("model")));
                },
                save: function () {
                    localStorage.setItem("model", JSON.stringify($scope.model));
                },
                hello: function () {
                    alert("Rich was here");
                }
            }).init();

        });
    </script>

</body>

</html>
